default: &default
  adapter: sqlite3
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: db/development.sqlite3

test:
  <<: *default
  database: db/test.sqlite3
  encoding: unicode


production:
  adapter: mysql2
  encoding: utf8
  charset: utf8
  database: <%= ENV['NEM_PAYMENT_DB_NAME'] %>
  pool: 5
  username: <%= ENV['NEM_PAYMENT_DB_USER'] %>
  password: <%= ENV['NEM_PAYMENT_DB_PASSWORD'] %>
  socket: /var/lib/mysql/mysql.sock